<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Arial Object Detection</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <style>
    body {
      background-color: #9dd4ea; /* Set a light background color */
    }
    .card {
      margin-top: 100px; /* Center the card vertically */
    }
    #imagePreview {
      max-width: 100%;
      max-height: 200px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="background-color: #e7a953">
          <div class="card-body">
            <h2 class="mb-4 text-center">YOLO v5, v8 Flask App <small>&</small></h2>
            <h4 class="mb-4 text-center">Number of vechiles detection</h4>

            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="imageInput">Choose an image file:</label>
                <input type="file" class="form-control-file" id="imageInput" name="file" accept=".jpg, .jpeg, .png" onchange="previewImage(event)" required />
              </div>
              <div class="text-center">
                <img id="imagePreview" src="#" alt="Image Preview" class="img-fluid d-none" />
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies (optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function previewImage(event) {
      var image = document.getElementById('imagePreview');
      image.src = URL.createObjectURL(event.target.files[0]);
      image.classList.remove('d-none');
    }
  </script>
</body>
</html>
